body {
   
}


.svgContainer {
   
}

#container {
   
    height: 2000px;
    width: 2000px;
    background-image: url(./images/waldo2.jpg);
    background-size: 100% 100%;
}

.menuContainer {
    border: solid;
    width: 200px;
    height: 80px;
}

.waldo:hover, .wizard:hover, .wilma:hover{
    background-color: gray;
} 