body {
   
}


.svgContainer {
   
}

#container {
   
    height: 1926px;
    width: 2500px;
    background-image: url(./images/waldo2.jpg);
    background-size: 100% 100%;
}

.menuContainer {
    border: solid;
    width: 200px;
    height: 80px;
    background-color: white;
}

.button:hover{
    background-color: gray;
} 

.message {
    width: 200px;
    height: 70px;
    border: solid;
    background-color: white;
}