body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
}


.svgContainer {}

#container {

    height: 1926px;
    width: 2500px;

    background-image: url(./images/waldo3.jpg);
    background-size: 100% 100%;
}

.menuContainer {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-radius: 5px;
    border-width: 0.1px;
    width: 110px;
    background-color: white;
}

.button:hover {
    background-color: lightgray;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.message {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    position: fixed;
    top: 50%;
    left: 40%;
}

form {
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 40%;
}

@media only screen and (max-width: 500px) {
    form {
        top: 30%;
        left: 1%;
        padding: 5px;
    }
}

.formContainer {
    background-color: white;
    border-radius: 5px;
    padding: 5px;

}

.formContainer>p {
    margin-top: 0;
    margin-bottom: 10px;

}

.formContainer>label {
    font-weight: bold;
    font-size: 18px;

}

#name {
    font-size: 18px;
    border-radius: 10px;
}

.submitHighScore {
    font-size: 18px;
    border-radius: 20px;
    padding: 5px 15px 5px 15px
}

.inputDiv {
    padding-top: 5px;
    padding-bottom: 15px;
}

.menuImg {
    width: 50px;
    height: 60px;
}

.headerImg {
    width: 50px;
    height: 60px;
}

.picContainer {
    display: flex;

}

header {
    width: 100%;
    height: 60px;


}

.headerContainer {
    display: flex;
    position: fixed;

    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    gap: 20px;
    background-color: white;
    top: 0;

}

/*
@media only screen and (max-width: 500px) {
    .headerContainer {
      gap: 5px;
    }
  }*/

#timer {
    font-size: 25px;
}

.highScoreDiv {
    padding-right: 15px;
}

.highScoreButton {
    border-radius: 10px;
}

.highScoreName {
    font-weight: bold;
}

.scoreContainer {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    position: fixed;
    top: 30%;
    left: 15%;
}


@media only screen and (max-width: 500px) {
    .scoreContainer {
        left: 2%;
    }
}

.headImage {
    width: 100px;
    height: 100px;
}

.gamesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

#buttonContainer {
    width: 100%;
    text-align: center;

}

.picHeaderContainer {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

.startButtonContainer {
    padding-top: 20px;
    padding-bottom: 20px;
}

#startButton {
    font-size: 18px;
    border-radius: 20px;
    width: 150px;
    height: 40px;
}

.boardContainer {
    box-shadow: 0 0 5px lightgrey;
    width: 300px;
}

.headingImages {
    padding-bottom: 30px;
}

.waldoBoardPic {
    width: 100%;
    height: 192px;
}

#youWon {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    position: fixed;
    top: 20%;
    left: 30%;
}